[init]
  templatedir = ~/.git-template

[user]
  name = Gray Gilmore
  email = graygilmore@gmail.com

[core]
  excludesfile = ~/.gitignore_global
  editor = vim

[color]
  branch = auto
  diff = auto
  status = auto

[push]
  default = simple

[branch]
  autosetuprebase = always

[merge]
  log = true

[rebase]
  autosquash = true
