"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "styleguide"
      "open-on-github"
      "release-notes"
      "package-generator"
      "autocomplete-plus"
      "markdown-preview"
      "wrap-guide"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      "build"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles:
      tab: "⇥"
    showIndentGuide: true
    showInvisibles: true
    softTabs: true
    softWrap: true
  "exception-reporting":
    userId: "9245bfac-8c25-8aa1-bdbc-14eb732dd117"
  feedback:
    email: "graygilmore@gmail.com"
  "gist-it":
    newGistsDefaultToPrivate: true
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
    ]
  "tree-view":
    hideIgnoredNames: false
  welcome:
    showOnStartup: false
