
atom-text-editor::shadow {

  .invisible-character {
    color: #26292D;
  }

  .gutter {
    background-color: #242424;
  }

  .indent-guide {
    box-shadow: inset 1px 0 #444;
  }

  .markup.changed {
    background: none;
  }

  .markup.git-commit.inserted {
    color: #03D803;
    background: none;
  }
}

atom-text-editor,
atom-text-editor::shadow {
  .find-result .region {
    background: black;
    border: 1px solid yellow;
  }

  .current-result .region {
    border: 1px solid yellow !important;
    background-color: white;
  }
}

// dark theme / light scrollbar fix
::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(255,255,255, 0.1) !important;
}

::-webkit-scrollbar-track {
  background: rgba(255,255,255, 0.02) !important;
}
